<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <action id="org.pardus.temizleyici.clean">
    <description>Run Pardus System Cleaner administrative tasks</description>
    <description xml:lang="tr">Pardus Sistem Temizleyici yönetici işlemleri</description>
    <message>Pardus Sistem Temizleyici, sistem dosyalarını temizlemek için yönetici yetkisi istiyor.</message>
    <message xml:lang="tr">Pardus Sistem Temizleyici, sistem dosyalarını temizlemek için yönetici yetkisi istiyor.</message>
    <icon_name>edit-clear-all-symbolic</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/pardus-temizleyici-root</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">false</annotate>
  </action>
</policyconfig>
